# Secrets
.env

# Python junk
__pycache__/
*.pyc

# Production Data (User-specific)
data/output/**/*
data/output/*
!data/output/.gitkeep
data/books/*
!data/books/example.txt
data/assets/**/*
!data/assets/.gitkeep
# Local settings
.vscode/
.idea/
.venv
.pytest_cache
gutenberg_index.db
GUTINDEX.ALL.new
inclecate.exe
*.tar.bz2
cache/
data/output/
data/cache/
*.db